---
Name: item_watch_notifications
---
SilverStripe\Core\Injector\Injector:
  Symbiote\Watch\ContentWatchNotification:
    properties:
      watchService: %$Symbiote\Watch\WatchService
      notificationService: %$Symbiote\Notifications\Service\NotificationService


---
Name: content_watch_webservices
---
Symbiote\ApiWrapper\ApiWrapperController:
  versions:
    v1:
      watch: 'WatchServiceApiController'
SilverStripe\Core\Injector\Injector:
  WatchServiceApiController:
    class: Symbiote\ApiWrapper\ServiceWrapperController
    properties:
      service: %$Symbiote\Watch\WatchService
